name: Release
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: "ubuntu-24.04"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.4"
          coverage: none

      - name: Make releases
        run: |
          echo "Making a release for GitHub"
          php src/bin/make-release.php "github"
          
          echo ""
          echo "Making a release for GitLab"
          php src/bin/make-release.php "gitlab"
          
          echo ""
          echo "Making a release for Bitbucket"
          php src/bin/make-release.php "bitbucket"
          
          echo ""
          echo "Posting GitHub release to sjorso.com"
          php src/bin/post-release.php "github" "${{ secrets.POST_RELEASE_SECRET }}"
          echo "Posting GitLab release to sjorso.com"
          php src/bin/post-release.php "gitlab" "${{ secrets.POST_RELEASE_SECRET }}"
          echo "Posting Bitbucket release to sjorso.com"
          php src/bin/post-release.php "bitbucket" "${{ secrets.POST_RELEASE_SECRET }}"

      - name: Commit releases
        uses: EndBug/add-and-commit@v9
        with:
          add: '.' # git add .
          message: 'Update releases'
          push: true
          default_author: github_actor
